.board {
  --board-grid-columns: repeat(4, 1fr);
  --board-perspective: 1000px;

  display: grid;
  grid-template-columns: var(--board-grid-columns);
  gap: 1.6rem;
  max-width: 64rem;
  width: 100%;
  height: 100%;
  perspective: var(--board-perspective);

  &--easy {
    --board-grid-columns: repeat(2, 1fr);
    --board-perspective: 2000px;

    & > .animate {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 100ms;
        }
      }
    }
  }

  &--normal {
    --board-grid-columns: repeat(3, 1fr);
    --board-perspective: 1500px;

    & > .animate {
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 50ms;
        }
      }
    }
  }

  &--hard {
    & > .animate {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 30ms;
        }
      }
    }
  }

  .animate {
    animation-name: rotation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    opacity: 0;
    transform: rotateY(60deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
