:root {
  --clr-white: #ffffff;
  --clr-grey-100: #e2e2e2;
  --clr-grey-200: #c8c8c8;
  --clr-grey-900: #2c2b2b;
  --clr-purple-700: #4d033d;
  --clr-purple-800: #320228;
  --clr-purple-900: #140011;
}
