.modal {
  --modal-background-color: var(--clr-white);
  --modal-color: var(--clr-grey-900);

  background-color: var(--modal-background-color);
  color: var(--modal-color);
  font-size: 3.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3.2rem;
  padding: 2.4rem;
  animation-name: show-up;
  animation-duration: 300ms;
  transform-origin: center;
  width: min(85vw, 37.5rem);

  &__body {
    margin-top: 1.6rem;
  }
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
